.ezexped-pop .tooltip-inner {
    max-width: none;
}

.ezexped-pop .tooltip-inner .slotitem-img.png {
    height: 1.6em;
}

.ezexped-pop .tooltip-inner .slotitem-img.svg {
    height: 1.2em;
}

.ezexped-pop .tooltip-inner .slotitem-img.png {
    height: 1.6em;
}

.ezexped-pop .tooltip-inner .slotitem-img.svg {
    height: 1.2em;
}

#poi-plugin-ezexped .exped-viewer .slotitem-img.png {
    height: 2em;
}

#poi-plugin-ezexped .exped-viewer .slotitem-img.svg {
    height: 1.6em;
}

#poi-plugin-ezexped .exped-btn-table .panel-body {
    padding: 8px;
}

#plugin-ezexped-settings .checkbox > label {
    min-height: 0;
}

#poi-plugin-ezexped .collapsing {
    transition: none;
}

#poi-plugin-ezexped.poi-app-tabpane {
    display: flex;
    flex-direction: column;
}

#plugin-ezexped-settings .radio.kancepts > label {
    display: flex;
    align-items: center;
}
