#poi-plugin-ezexped .collapsing {
    transition: none;
}

#poi-plugin-ezexped.poi-app-tabpane {
    display: flex;
    flex-direction: column;
}

#plugin-mountpoint > .poi-app-tabpane {
    display: flex;
    flex-direction: column;
}
